@font-face {
    font-family: 'minecraftiaregular';
    src: url('../assets/fonts/minecraftia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    --primary: #0d6efd;
    font-family: 'Inter', sans-serif;
}

.navbar-brand {
    font-family: 'minecraftiaregular';
    font-size: calc(1rem + .6vw) !important;
}

@supports (font-variation-settings: normal) {}

header>nav>.container-fluid {
    max-width: 1200px;
    padding: var(--bs-gutter-x, 2rem) 0px;
    border-bottom: black 2px solid;
}

header>.navbar {
    margin: 0px var(--bs-gutter-x, .75rem);
    padding: 0px 0px;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 2rem;
}

.typewriter h1,
.typewriterDark h1 {
    overflow: hidden;
    border-right: .10em solid;
    white-space: nowrap;
    margin: 0 auto;
}

.typewriter>.typewriter-home {
    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
}

.typewriterDark>.typewriter-home {
    animation: typing 2s steps(23), blinkdark .5s step-end infinite alternate;
}

.col-home {
    width: calc(var(--bs-gutter-x) * 34);
}

[data-theme="dark"] {
    background-color: #141414;
    color: #f8f9fa
}

[data-theme="dark"]>header>nav>.container-fluid {
    border-bottom: white 2px solid;
}

[data-theme="dark"]>.form-select,
.form-dark {
    background-color: #141414;
    color: #f8f9fa;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinkdark {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}


@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.alert {
    gap: 1rem
}

@media (max-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .btn1 {
        margin: var(--bs-gutter-x, 2rem) 0px 0px 0px;
    }

    .btn2 {
        display: flex;
        justify-content: center;
        gap: .5rem;
        margin: var(--bs-gutter-x, 1rem) 0px 0px 0px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}

ul#pills-tab {
    justify-content: center;
}

li.nav-item {
    padding: .5rem;
    position: relative;
}

.card-footer {
    border-top: 1px solid white;
}

.badge {
    font-size: .8rem !important;
}

.container {
    max-width: 70rem;
}

.container-status {
    background-color: #0000003b;
    border-radius: 10px;
}

.resume,
.servers {
    font-size: 1.25rem;
    font-weight: 400;
}

.info {
    font-size: 1.2rem;
    font-weight: 400;
}

.container-servers {
    background-color: #0000003b;
    border-radius: 10px;
}